- attributes.list("scripts") += "http://platform.linkedin.com/in.js"
- attributes("pageHeader") = "About"
- attributes("pageTagline") = "Why is this app so awesome?"

#about
  p
    | This application was built by me, <a href="http://about.me/mraible">Matt Raible</a>,
    | using some of the best web frameworks of 2011.

  p.linkedin
    script(type="IN/MemberProfile" data-id="http://www.linkedin.com/in/mraible"
           data-format="inline" data-related="false")

  p
    | I created this application because I wanted a better fitness tracker. I've
    | used RunKeeper and iWander, but I wanted to see if I could build a webapp with the
    | same capabilities. I'd like to be able to click "Start" and have my time and distance
    | tracked, as well as some good tunes flowing to my ears.

  p
    | If you'd like to hear more about how I built this app, please attend my
    | <a href="http://www.devoxx.com/display/DV11/Home">Devoxx 2011</a> talk titled
    span.talk
      a(href="http://www.devoxx.com/display/DV11/HTML5+with+Play+Scala%2C+CoffeeScript+and+Jade")
        | HTML5 with Play/Scala, CoffeeScript and Jade.

- captureAttribute("sidebar")
  #frameworks
    h3 Technologies Used
    ul
      li <a href="http://www.scala-lang.org/">Scala</a>
      li <a href="http://www.w3.org/html/logo/">HTML5</a>
      li <a href="http://playframework.org">Play! Framework</a>
      li <a href="http://scalate.org">Scalate</a> and <a href="http://jade-lang.com">Jade</a>
      li <a href="http://jashkenas.github.com/coffee-script/">CoffeeScript</a>
      li <a href="http://code.google.com/apis/maps/documentation/javascript/">Google Maps API</a>
