- attributes("title") = "Welcome"
- attributes.list("scripts") += uri("/public/javascripts/stopwatch.coffee")
-@ var user: models.User

#display
  input(id="clock" type="text" value="00:00:00.0" readonly="readonly")
button(id="start" type="button") Start
button(id="reset" type="button") Reset

p Hello #{user.firstName}!

:plain
  <script type="text/coffeescript">
    $(document).ready ->
      $('#start').click ->
        StopWatch.start this, $('#clock')
    
      $('#reset').click ->
        StopWatch.reset()
  </script>