-@ var user: models.User
- attributes("title") = "Hello " + user.firstName + "!"
- attributes.list("scripts") += uri("/public/javascripts/stopwatch.coffee")
- attributes.list("scripts") += uri("/public/javascripts/odometer.coffee")

#display
  input(id="clock" class="xlarge" type="text" value="00:00:00.0" readonly="readonly")
#controls
  button(id="start" type="button" class="btn primary") Start
  button(id="reset" type="button" class="btn :disabled") Reset

:plain
  <script type="text/coffeescript">
    $(document).ready ->
      $('#start').click ->
        StopWatch.start this, $('#clock')
        $('#where,#track').show()
        Map.start()
    
      $('#reset').click ->
        StopWatch.reset()
        Map.reset()
        $('#where,#track').hide()
  </script>

#track(style="display: none")
  | Distance Traveled: <span id="distance"></span> mile(s)

  #actions
    button(id="save" type="submit" class="btn success") Save

#where(style="display: none")
  =include("where.jade")

-# fonts: http://www.html5rocks.com/en/tutorials/webfonts/quick/