-# http://merged.ca/iphone/html5-geolocation
- attributes("title") = "Where am I?"

script(type="text/javascript" src="http://www.google.com/jsapi")
script(src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript")

:css
  .demo-map {
    border: 1px solid #6666DD;
    height: 150px;
    margin: 10px auto;
    width: 300px;
  }

p(id="location")
  span(class="label success") New
  | Fetching your location with HTML 5 geolocation...

#map(class="demo-map")

script(type="text/javascript" src={uri("/public/javascripts/map.coffee")})

:javascript
    Map.start();