-@ val front: Option[(models.Workout,models.User,Seq[models.Comment])]
-@ val older: Seq[(models.Workout,models.User,Seq[models.Comment])]
- attributes("title") = "Timeline"

- front.map { front =>
  - render("workout.jade", Map('workout -> front, 'mode -> "home"))

  - Option(older).filterNot(_.isEmpty).map { workouts =>
    .older-workouts
      h3
        | Older workouts
        span.from from this app
      - workouts.map { workout =>
        - render("workout.jade", Map('workout -> workout, 'mode -> "teaser"))
      - }
  - }
- }

:css
  body { text-align: left }
  /** Workout **/

  .workout .title {
      margin: 0;
  }

  .workout .title a {
      font-size: 36px;
      color: #F5C2CC;
      text-decoration: none;
  }

  .workout .metadata {
      color: #BAC36E;
      display: block;
      font-size: 70%;
      display: inline-block;
  }

  .workout .user {
      font-size: 130%;
      font-weight: bold;
  }

  .workout .metadata a {
      color: #9FA85D;
  }

  .workout .description {
      position: relative;
      background: #fff;
      padding: 10px;
      margin: 10px 0 50px 0;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-box-shadow: 0 2px 0 #BBBBBB;
  }

  .workout .about {
      text-indent: -999em;
      display: block;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff;
      border-top: 0;
      position: absolute;
      top: -6px;
      left: 24px;
  }

  /** Older workouts **/

  .older-workouts h3 {
      color: #869AB1;
      font-size: 28px;
      margin-bottom: 15px;
  }

  .older-workouts h3 .from {
      font-weight: normal;
      font-size: 70%;
  }

  .older-workouts .workout {
      margin-bottom: 15px;
      border-left: 3px solid #869AB1;
      padding-left: 10px;
  }

  .older-workouts .title a {
      padding: 0;
      color: #131921;
      font-size: 20px;
  }

  .older-workouts .metadata {
      color: #869AB1;
      padding: 0;
      font-size: 12px;
  }

  .older-workouts .metadata a {
      color: #869AB1;
  }

  /** Comments **/

  .comments {
      margin-bottom: 30px;
  }

  h3 {
      color: #869AB1;
      font-size: 18px;
      margin-bottom: 15px;
  }

  h3 span {
      font-size: 80%;
      font-weight: normal;
  }

  .comment {
      width: 70%;
      clear: both;
  }

  .comment .metadata {
      color: #869AB1;
      display: block;
      font-size: 50%;
      display: block;
      float: left;
      width: 80px;
      text-align: right;
  }

  .comment .author {
      font-size: 150%;
      font-weight: bold;
      display: block;
  }

  .comment .content {
      position: relative;
      background: #E4EAFF;
      color: #242C58;
      font-size: 80%;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 100px;
      padding: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
  }

  .comment .about {
      text-indent: -999em;
      display: block;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #E4EAFF;
      border-left: 0;
      position: absolute;
      top: 4px;
      left: -4px;
  }