-@ val front: Option[(models.Workout,models.User,Seq[models.Comment])]
-@ val older: Seq[(models.Workout,models.User,Seq[models.Comment])]
- attributes("title") = "Timeline"

- front.map { front =>
  - render("workout.jade", Map('workout -> front, 'mode -> "home"))

  - Option(older).filterNot(_.isEmpty).map { workouts =>
    .older-workouts
      h3
        | Older workouts
        span.from from this app
      - workouts.map { workout =>
        - render("workout.jade", Map('workout -> workout, 'mode -> "teaser"))
      - }
  - }
- }

