- attributes("title") = "Welcome"
-@ var user: models.User

:css
  button { width: 33%; height: 30px; padding: 10px }
  #clock { margin: 20px auto }

#clock 

:plain
  <script type="text/coffeescript">
    $('#clock').stopwatch()
  </script>