- attributes("title") = "Counting"
- attributes("header") = "HTML5 Rocks!"
-@ var user: models.User
p Hi #{user.name},
- for(i <- 1 to 3)
  p(style="margin-left: 10px") = i
p See, I can count!

:plain
  <script type="text/coffeescript">
    alert 'Hello World from CoffeeScript.'
  </script>